body {
    background-color: lightblue;
}

.round-box1{
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    margin: 20px 20px;
    background-color: white;
}

.testUL ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.testUL li{
    margin: auto;}

.AllOrdersButtons{
    background-color: #136D74;
    color: white;
}